
.footer {
  background: #ddd6c3;
  color: #fff;
  padding: 25px 15px;
  text-align: center;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
}

.footer-links {
  margin-bottom: 12px;
}

.footer-links a {
  color: #141212;
  margin: 0 10px;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

.footer-contact {
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-contact a {
  color: #120f0f;
  text-decoration: none;
}

.footer-contact a:hover {
  color: #fff;
}

.footer-icons {
  margin-bottom: 12px;
}

.footer-icons a {
  color: #0b0909;
  font-size: 20px;
  margin: 0 8px;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: #fff;
}

.footer-bottom {
  font-size: 12px;
  color: #888;
}

@media (max-width: 600px) {
  .footer-links a {
    display: block;
    margin: 5px 0;
  }
}
