.page-loader{
    position:fixed;
    inset:0;
    overflow:hidden;
    background:#f7f8fc;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:99999;
}

/* CLOTH PANELS */

.cloth{
    position:absolute;
    top:0;
    width:50%;
    height:100%;
    background:
        linear-gradient(
        120deg,
        #f5f6ff 0%,
        #eceefe 30%,
        #ffffff 50%,
        #eceefe 70%,
        #f5f6ff 100%
    );

    background-size:300% 300%;
    animation:
        clothTexture 5s ease infinite,
        openCloth 1.6s ease forwards;
}

.left{
    left:0;
    border-right:1px solid rgba(61,61,139,.12);
}

.right{
    right:0;
    border-left:1px solid rgba(61,61,139,.12);
    animation:
        clothTexture 5s ease infinite,
        openClothRight 1.6s ease forwards;
}

@keyframes clothTexture{
    0%{
        background-position:0 50%;
    }
    100%{
        background-position:100% 50%;
    }
}

@keyframes openCloth{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-105%);
    }
}

@keyframes openClothRight{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(105%);
    }
}

/* CENTER */

.loader-center{
    position:relative;
    z-index:20;
    text-align:center;
    animation:fadeScale .9s ease;
}

@keyframes fadeScale{

    from{
        opacity:0;
        transform:scale(.8);
    }

    to{
        opacity:1;
        transform:scale(1);
    }

}

/* HANGER */

.hanger{
    width:90px;
    margin:auto;
    margin-bottom:25px;
    animation:float 2.2s ease-in-out infinite;
}

.hook{
    width:20px;
    height:20px;
    border:4px solid #3d3d8b;
    border-bottom:none;
    border-radius:20px 20px 0 0;
    margin:auto;
}

.hanger-body{
    width:80px;
    height:40px;
    border-left:4px solid #3d3d8b;
    border-right:4px solid #3d3d8b;
    border-bottom:4px solid #3d3d8b;
    transform:skewX(-35deg);
    margin:auto;
}

@keyframes float{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(-10px);
}

}

/* BRAND */

.brand{

font-size:44px;

font-weight:800;

letter-spacing:8px;

color:#3d3d8b;

position:relative;

display:inline-block;

overflow:hidden;

margin-bottom:10px;

}

/* shimmer */

.brand::after{

content:"";

position:absolute;

top:0;

left:-100%;

width:60%;

height:100%;

background:linear-gradient(
90deg,
transparent,
rgba(255,255,255,.9),
transparent
);

animation:shine 2s linear infinite;

}

@keyframes shine{

100%{

left:160%;

}

}

.loader-center p{

font-size:15px;

font-weight:500;

color:#777;

letter-spacing:2px;

animation:pulse 1.5s infinite;

}

@keyframes pulse{

0%,100%{
opacity:.6;
}

50%{
opacity:1;
}

}